Source: hanme-taja
Section: gnome
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 4.1.4
Homepage: https://hamonikr.org

Package: hanme-taja
Architecture: all
Depends: dosbox
Replaces: 
Description: Keyboard Typing Game for Korean.
 한메타자교사 키보드 연습 프로그램.
